<%- include('nav') %>
<%- include('subnav') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adventure places</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        background-color: #ebecf2;
        background-color: black;
        font-family: 'Caveat', cursive;

      }
      .kerala img {
        margin: 30px;
        border-radius: 20px;
      }
      h1 {
        text-align: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      h2,
      h3 {
        margin: 20px;
        /* background-color: pink; */
      }
      .const h3{
        background-color: pink;
        text-align: center;

      }
      p {
        margin: 20px;
      }
      .const {
        font-size: 16px;
        margin: 0px 60px;
        padding: 10px 40px;
        justify-content: center;
        background: linear-gradient(45deg, #ffffff, #f2f2f2);
        box-shadow: 0 0 20px #fff, 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff;
      }
    </style>
  </head>
  <body>
    <div class="const">
      <h1
        style="
          -webkit-text-stroke: 1.2px rgb(0, 0, 0);
          color: pink;
          font-weight: bolder;
          letter-spacing: 5px;
        "
      >
        Adventure places in & outside India
      </h1>
      <p>
        Are you an adventure-seeker who loves to explore new places and do
        unusual things? Do you prefer indulging in an adrenaline-pumping
        activity than lazing along a beach? Then, take our recommendation list
        of the best adventure places in and outside India into consideration,
        and get ready with your backpack to venture off the unbeaten tracks for
        an experiential holiday. Have a sneak-peek at the below listing that has
        been curated comprising the travel destinations that are meant to inject
        some adrenaline to your next excursion.
      </p>
      <h2>Top 5 International Destinations for Adventurous Souls</h2>

      <h3>Alaska</h3>

      <div class="kerala">
        <img src="kerala1.jpg" alt="img" height="150px" width="270px" />
        <img src="kerala2.jpg" alt="img" height="150px" width="270px" />
        <!-- <img src="kerala3.jpg" alt="img" height="150px" width="270px"/> -->
        <img src="kerala4.jpg" alt="img" height="150px" width="270px" />
      </div>

      <p>
        Decked with glacier-carved fjords and icebergs, the US state of Alaska is one of the best adventurous places to visit outside India. Offering some of the world’s best whitewater rafting and other thrilling experiences, such as heli-skiing, zip lining, glacier hiking, and kayaking through fjords and icebergs, there is no other place in the world that can beat Alaska when it comes to adventure. What’s more? Here, you may also grab a chance to explore wildlife sightings, dip into hot springs, and a lot more.
      </p>

      <h3>New Zealand</h3>

      <div class="kerala">
        <img src="goa1.jpg" alt="img" height="150px" width="270px" />
        <img src="goa2.jpeg" alt="img" height="150px" width="270px" />
        <img src="goa3.webp" alt="img" height="150px" width="270px" />
        <!-- <img src="goa4.jpeg" alt="img" height="150px" width="270px" /> -->
      </div>

      <p>
        With some incredibly thrilling experiences that can surely pump your adrenaline like nothing, New Zealand is, undoubtedly, one of the most adventurous places in the world. Also referred to as the land of adventure, it lets you enjoy bungee jumping from the height of 16,500 feet in Able Tasman, whitewater rafting in freezing glacier waters, ice climbing on Fox Glacier, skydiving from 15,000 feet in Queenstown, paragliding through the majestic landscapes, and even swimming with dolphins.
      </p>

      <h3>Nicaragua</h3>

      <div class="kerala">
        <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
        <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
        <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
        <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
      </div>

      <p>
        Cradled by the Carribean Sea and the Pacific Ocean, Nicaragua is a Central American country famed for its dramatic lakes, beaches, and volcanoes. Offering quite a unique experience of surfing volcanoes, this offbeat travel destination perhaps tops the list of best adventure places in and outside India. As you climb up the mountain, get ready to surf along the volcano Cerro Negro on a metal board, and experience your heart pounding faster like never before! Do wear special clothes, knee pads, and eye wear before you get ready to take the plunge.
      </p>

      <h3>Ko Pha Ngan</h3>

      <div class="kerala">
        <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
        <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
        <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
        <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
      </div>

      <p>
        A mesmerizing island located to the southeast of Thailand, Ko Pha Ngan famed for its Full Moon Party is equally adventurous. Held every month, the Full Moon Party draws a lot of adventure-seekers to partake in activities like: fire limbo, and fire skipping through a fire-coated hoop. If you manage to beat the ultra-bendy locals, then you are a winner!
      </p>

      <h3>Cape Town</h3>

      <div class="kerala">
        <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
        <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
        <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
        <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
      </div>

      <p>
        Boasting some of the breathtaking sightseeing options and famed for wine tasting, Cape Town has a lot more to offer to its visitors. Covering a wide spectrum of thrilling experiences, from hiking to sailing through the open seas, and paragliding from Lion’s Head or Signal Hill, an expedition to this majestic location can easily convince you to list it amongst the best adventure places in and outside India. What’s more? Besides the usual adventure sports, here you can also enjoy a rendezvous with the white sharks through shark cage diving activity, which is undoubtedly spellbinding.
      </p>

      
    </div>
  </body>
</html>
<%- include('footer') %>
