<%- include('nav') %>
<%- include('subnav') %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family places</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        background-color: #ebecf2;
        background-color: black;
        font-family: 'Caveat', cursive;

      }
      .kerala img {
        margin: 30px;
        border-radius: 20px;
      }
      h1 {
        text-align: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      h2,
      h3 {
        margin: 20px;
        /* background-color: pink; */
      }
      .const h3{
        background-color: pink;
        text-align: center;

      }
      p {
        margin: 20px;
      }
      .const {
        font-size: 16px;
        margin: 0px 60px;
        padding: 10px 40px;
        justify-content: center;
        background: linear-gradient(45deg, #ffffff, #f2f2f2);
        box-shadow: 0 0 20px #fff, 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff;
      }
    </style>
</head>
<body>
  <div class="const">
    <h1
      style="
        -webkit-text-stroke: 1.2px rgb(0, 0, 0);
        color: pink;
        font-weight: bolder;
        letter-spacing: 5px;
      "
    >
    Best Family Places In And Outside India For An Amazing Holiday
    </h1>
    <p>
      Vacations are a great way to spend time with friends and families. Be it summer vacations or family picnics, travelling serves as the perfect entertainment. While there are so many places to visit in India for a regular vacation, there are only a few places that offer the best family holiday experience. Choosing a holiday destination, especially for a family vacation, may not always be an easy task. Therefore, we have short-listed the top five family places in and outside india that you can visit on a vacation.
    </p>
    <h2>Best 5 Places To Visit In India For A Family Vacation</h2>

    <h3>Srinagar, Jammu & Kashmir</h3>

    <div class="kerala">
      <img src="jk1.jpg" alt="img" height="150px" width="270px" />
      <img src="jk2.jpg" alt="img" height="150px" width="270px" />
      <!-- <img src="kerala3.jpg" alt="img" height="150px" width="270px"/> -->
      <img src="jk3.jpg" alt="img" height="150px" width="270px" />
    </div>

    <p>
      Popularly known as “Paradise on Earth”, Srinagar is one of the top choices for a family holiday in India. The stunning landscape and pristine environment of Srinagar account for its evergreen beauty. Located on the banks of the River Jhelum, Srinagar is the capital of Jammu and Kashmir. It experiences a pleasant climate for most parts of the year. Therefore, many people come here to spend their vacations. There are an array of places to visit in Srinagar - from Pahalgam to Gulmarg - on a family trip. Whether you want to arrange a picnic or go out for a Shikara ride on Dal Lake, Srinagar also offers a host of things to do. You can try kayaking and boating during your family vacation.
    </p>

    <h3>Shimla, Himachal Pradesh</h3>

    <div class="kerala">
      <img src="shimla1.jpg" alt="img" height="150px" width="270px" />
      <img src="shimla2.jpg" alt="img" height="150px" width="270px" />
      <img src="shimla3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="goa4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      Known as the summer capital of British, Shimla is one of the most popular family destinations in India. Serving all kinds of retreats - picnic grounds to adventure activities - Shimla has long been the ideal hill station vacation. There are a host of places for sightseeing, from Green Valley to Jakhoo Temple, and even better spots for adventure activities such as paragliding and zorbing. If you are travelling with kids, take the toy train ride from Shimla to Kalka. For an informational tour, you may visit Rashtrapati Niwas and Shimla Heritage Museum. If you have not planned a trip yet, you may visit Shimla during the months of March to June and July to September for a better experience.
    </p>

    <h3>Jaisalmer, Rajasthan</h3>

    <div class="kerala">
      <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      Jaisalmer in Rajasthan is another popular family destination in India. Consisting of the vast Thar desert and sandstone buildings, Jaisalmer is also known as the “Golden City” of India. One of the major attractions of Jaisalmer is the night camp. Travelers can enjoy authentic desert experience under starlit sky while enjoying several entertainments.There are camel rides and jeep safaris to take a tour of the entire desert. Famous monuments such as the Jaisalmer Fort and Patwon ki Haveli are other main attractions of Jaisalmer that offer good experience for travelers visiting with families. Apart from sightseeing, Jaisalmer also serves authentic Rajasthani cuisine for everyone. Some of the specialties to try during the tour are Kadhi Pakora, Ker Sangri and Banon Aloo.
    </p>

    <h3>Alleppey, Kerala</h3>

    <div class="kerala">
      <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      Alleppey in Kerala is a perfect destination in India for spending family holidays. The houseboats cruises in Alleppey are a famous source of entertainment. Watch the lush paddy fields as you ride across the backwaters here. There are other attractions such as choir making, avifauna and more which you can easily enjoy during a vacation with your family. In addition to these attractions, visitors can also get a glimpse of the stunning Arabian Sea that stretches just towards the shore of Alleppey beach. Alleppey is also an interesting destination to visit, especially with children. The 137-year old pier has a history attached to it, and as you walk over it, you will be enchanted by the surrounding beauty. Alleppey is best experienced during the months of October and February.
      
    </p>

    <h3>Andaman & Nicobar Islands</h3>

    <div class="kerala">
      <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      One of the seven union territories of India, Andaman and Nicobar Islands are another choicest destination for a family vacation. Located between the Bay of Bengal and Andaman Sea, Andaman and Nicobar Islands offer serene vacation retreats for travelers. Out of all the 572 islands in Andaman and Nicobar Islands, only 37 are inhabited. Some of the major attractions to be covered in Andaman and Nicobar Islands include Kala Pani, Havelock Island. Radhanagar Beach, Baratang Island and more, while some of the best things to try in the Andaman and Nicobar Islands are scuba diving, kayaking and similar watersports. Enjoy a peaceful and adventurous family, at the same time, here.
    </p>

    
  </div>
    
</body>
</html>
<%- include('footer') %>
