<%- include('nav') %>
<%- include('subnav') %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        background-color: #ebecf2;
        background-color: black;
        font-family: 'Caveat', cursive;

      }
      .kerala img {
        margin: 30px;
        border-radius: 20px;
      }
      h1 {
        text-align: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      h2,
      h3 {
        margin: 20px;
        /* background-color: pink; */
      }
      .const h3{
        background-color: pink;
        text-align: center;

      }
      p {
        margin: 20px;
      }
      .const {
        font-size: 16px;
        margin: 0px 60px;
        padding: 10px 40px;
        justify-content: center;
        background: linear-gradient(45deg, #ffffff, #f2f2f2);
        box-shadow: 0 0 20px #fff, 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff;
      }
    </style>
</head>
<body>
  <div class="const">
    <h1
      style="
        -webkit-text-stroke: 1.2px rgb(0, 0, 0);
        color: pink;
        font-weight: bolder;
        letter-spacing: 5px;
      "
    >
    Friends / Group places in & outside India
    </h1>
    <p>
      There is something surreal about covering milestones with people who love the journey as much as you do. Whether the journey is as swift as the wind or as bumpy as a camel ride, traveling has not only led to many friendships but also has strengthened the existing ones. Moreover, there are some destinations that clearly live up to the statement of the more the merrier. Hence, they are best visited with friends or in groups. There are many places to visit with friends in and outside India that are often in the bucket list of many travelers and are a prompt mention in every friend circle. Mentioned below is a list of many such places that you can book a tour.
    </p>
    <h2>Best Places To Travel With Friends Around The World</h2>

    <h3>Thailand</h3>

    <div class="kerala">
      <img src="kerala1.jpg" alt="img" height="150px" width="270px" />
      <img src="kerala2.jpg" alt="img" height="150px" width="270px" />
      <!-- <img src="kerala3.jpg" alt="img" height="150px" width="270px"/> -->
      <img src="kerala4.jpg" alt="img" height="150px" width="270px" />
    </div>

    <p>
      There is no better place to travel with friends than the Land of Smiles, Thailand. This SouthAsian country is home to many party destinations such as Pattaya, Bangkok, Phuket, Krabi, etc. These cities offer the best of beaches, booze, and nightlife. Moreover, here, you will meet the crowd that is always bustling and the hustle goes on till the brink of the night. Engulfed in the spirit of festivity and a party vibe, Thailand can be one of the most amazing places to go with friends. With nightlife as lit as neon light can be, Pattaya and Bangkok are the dream destinations of many party buffs. On the other hand, Krabi, Phuket, and Ko Samui are ideal for a perfect getaway by the beach.
    </p>

    <h3>Bali, Indonesia</h3>

    <div class="kerala">
      <img src="goa1.jpg" alt="img" height="150px" width="270px" />
      <img src="goa2.jpeg" alt="img" height="150px" width="270px" />
      <img src="goa3.webp" alt="img" height="150px" width="270px" />
      <!-- <img src="goa4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      Fly free to live the lives of your dreams in Bali. Absolutely dreamlike and alluringly beautiful, Bali is a safe haven for many people waiting for an escapade with friends. Those of you who wish to step in a world full of blissful greenery should definitely plan your visit to Bali. This place is not only a place nestled with surreal waterfalls but also a spot for endless adventure activities such as paragliding, scuba diving, and snorkeling. Therefore, making it one of the best places to travel with friends around the world.
    </p>

    <h3>Singapore</h3>

    <div class="kerala">
      <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      The best of cityscape paired with lip-smacking cuisine and a tropical background is just the kind of ambience this country beholds. There is no magical place than Singapore to treat yourself with a fun-filled package of lavish and eccentric. From tropical themed garden and idyllic islands to bewildering skyscrapers and market places, Singapore has a lot that is just perfect for a getaway with friends. The area of this place offers such vibrant contrast between temples and skyscrapers and concrete marvels to breathtaking islands that no matter how diversified your group may be it will always be a good choice. Moreover, you will find some of the best places to visit with friends around the world all in Singapore such as Sentosa Island, Singapore Botanic Garden, Universal Studios, Buddha Tooth Relic Temple, Madame Tussauds Museum, Helix Bridge, etc.
    </p>

    <h3>Hong Kong</h3>

    <div class="kerala">
      <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      When it comes to planning a trip with friends, Hong Kong has its many charms. In the culture of this place you will find infused a blend of Chinese and Western, therefore, letting you soak in the many perks of east and west at one place. Best of all, you can visit the fantastical world Disneyland. Hong Kong is home to the best Disneyland and a trip to this place will take you on a journey of endless smiles, suprisses, and laughter.
    </p>

        
  </div>
    
</body>
</html>
<%- include('footer') %>
