<%- include('nav') %>
<%- include('subnav') %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        background-color: #ebecf2;
        background-color: black;
        font-family: 'Caveat', cursive;

      }
      .kerala img {
        margin: 30px;
        border-radius: 20px;
      }
      h1 {
        text-align: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      h2,
      h3 {
        margin: 20px;
        /* background-color: pink; */
      }
      .const h3{
        background-color: pink;
        text-align: center;

      }
      p {
        margin: 20px;
      }
      .const {
        font-size: 16px;
        margin: 0px 60px;
        padding: 10px 40px;
        justify-content: center;
        background: linear-gradient(45deg, #ffffff, #f2f2f2);
        box-shadow: 0 0 20px #fff, 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff;
      }
    </style>
</head>
<body>
  <div class="const">
    <h1
      style="
        -webkit-text-stroke: 1.2px rgb(0, 0, 0);
        color: pink;
        font-weight: bolder;
        letter-spacing: 5px;
      "
    >
    Nature places in & outside India
    </h1>
    <p>
      Nature places are everywhere around the world. This natural cover helps us realise the importance of greenery and other natural elements in our lives. In a fast-paced life spent in the big cities and towns, one is bound to forget the value of these elements in our lives. Good thing is that we can always travel to such natural places in and outside India whenever we want to. You could read about the options that TravelTriangle has provided to you in this category and book a vacation to natural places in and outside India.
    </p>
    <h2>Top 5 Best Natural Places In India</h2>

    <h3>Coorg, Karnataka</h3>

    <div class="kerala">
      <img src="kerala1.jpg" alt="img" height="150px" width="270px" />
      <img src="kerala2.jpg" alt="img" height="150px" width="270px" />
      <!-- <img src="kerala3.jpg" alt="img" height="150px" width="270px"/> -->
      <img src="kerala4.jpg" alt="img" height="150px" width="270px" />
    </div>

    <p>
      Coorg is a picturesque hill destination in India that is known for its irresistible natural beauty and lush coffee plantations. It is famously known as the ‘Scotland of India’. One of the best natural beauty places in India, it is quite popular amongst the tourists who are looking for a natural backdrop to their vacation. This quaint hill station is cozily nestled in the lap of Western Ghats in Southern Karnataka. There are many places of natural beauty in India, but Coorg makes it spot amongst the most popular ones. It has refreshing weather and cascading waterfalls to prove its worth as one of the most amazing natural tourist places in India. Check out the places like Abbey and Iruppu falls, and a diversity of flora and fauna at Nagarhole National Park and Talakaveri Wildlife Sanctuary.
    </p>

    <h3>Munnar, Kerala</h3>

    <div class="kerala">
      <img src="goa1.jpg" alt="img" height="150px" width="270px" />
      <img src="goa2.jpeg" alt="img" height="150px" width="270px" />
      <img src="goa3.webp" alt="img" height="150px" width="270px" />
      <!-- <img src="goa4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      Out of the many best natural places in India, Munnar is quite a popular spot for tourists and travelers alike. It is a cozy hill station located in the state of Karnataka. This place is quite famous for its tea and spice plantations. If that wasn’t enough, the many natural beauty places in India are situated here in Munnar. Check out the waterfalls like Valara and Cheeyappara. These points of attractions are laden with breathtaking natural beauty. This attracts a lot of tourists all year round. The sprawling tea plantations, spice gardens, waterfalls, cliffs, and a whole lot of beauty in Munnar makes it one of the best natural tourist places in India.
    </p>

    <h3>Khajjiar, Himachal Pradesh</h3>

    <div class="kerala">
      <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      One of the most natural places in India, Khajjiar is located in the state of Himachal Pradesh. It is commonly known as the ‘Mini Switzerland of India’ because of its breathtaking and mesmerizing natural beauty. The place sits at over 1,981 meters above the sea level. There are dense forests, lush greenery, meadows, and beautiful snow-capped mountains in the backdrop. Counted amongst the best natural beauty places in India, it is an ideal getaway for people who are looking for a respite from the monotony of city life. Tourists can enjoy the activities like zorbing, trekking, paragliding, and horse-riding while vacationing at this beautiful destination. Being home to the Kalatop Wildlife Sanctuary and a wide variety of flora and fauna, Khajjiar can easily be counted amongst best natural places in India.
    </p>

    <h3>Chail, Himachal Pradesh</h3>

    <div class="kerala">
      <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      Chail is a mesmerizing hill station located in the state of Himachal Pradesh. It is nestled cozily in the Shivalik Hills and is one of the best natural places in India. The hill station is a secluded one that is surrounded by an abundance of deodar and pine forests. The backdrop is of the incredibly beautiful Himalayan ranges. A delightful place for nature lovers and photographers, Chail is an ultimate natural travel destination in India. While here, visit places like Sadhupul Lake, Chail Palace, Kali Temple, and the Chail Wildlife Sanctuary.
    </p>

    <h3>Alleppey, Kerala</h3>

    <div class="kerala">
      <img src="kashmir1.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir2.jpeg" alt="img" height="150px" width="270px" />
      <img src="kashmir3.jpeg" alt="img" height="150px" width="270px" />
      <!-- <img src="kashmir4.jpeg" alt="img" height="150px" width="270px" /> -->
    </div>

    <p>
      Talking about the places of natural beauty in India, there are plenty. However, there is no place like Alleppey. A city located in the Indian state of Kerala, Alleppey is a nature’s delight and provides respite to the tired soul. Known as the hub of backwaters and lush green foliage, Alleppey is known for its intricate grid of canals. Hence, the tag of ‘Venice of the East' suits well to the identity of this beautiful destination. Amongst the many places of natural beauty in India, Alleppey sure is one of the best.
    </p>

    <p>
      Plan your vacation to all these amazing natural places in India. Check through the many travel packages offered and choose the one that suits your requirements the best.
    </p>
  </div>
    
</body>
</html>
<%- include('footer') %>
