body {
    margin: 0;
    padding: 0;

  }

  header {
    /* navbar sticky */
    position: sticky;
    top: 0;
    /*  */

    background-color: rgb(0, 153, 255);
    color: #fff;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  nav ul li {
    margin-left: 10px;
  }

  nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }

  nav ul li a:hover {
    background-color: #555;
  }

  .signup-btn {
    position: absolute;
    top: 18px;
    right: 127px;

    background-color: #333;
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .signin-btn {
    position: absolute;
    right: 10px;
    top: 18px;

    background-color: #333;
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .logout-btn {
    position: absolute;
    right: 15px;
    top: 18px;

    background-color: #333;
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .logos {
    width: 8%;
    height: 0.1%;
    /* border: 3px solid white; */
    border-radius: 80px;
  }
  .nav-list {
    display: flex;
    /* align-items: center; */
  }

  .line {
    height: 4px;
    width: 28px;
    margin: 6px 3px;
    background-color: white;
  }

  .burger {
    display: none;
    position: absolute;
    top: 10px;
    right: 7px;
  }

  header{
    font-family: 'Pacifico', cursive;
  }

  /* @media only screen and (max-width: 750px) {
    .nav-list {
      flex-direction: column;
    }
    .burger {
      display: block;
    }
    .signin-btn {
      margin-top: 110px;
    }
    .signup-btn {
      margin-top: 110px;
    }
    .logout-btn {
      position: absolute;
      right: 50px;
      margin-top: 65px;
    }
    .nav-bar {
      align-items: center;
    }
    .h-nav {
      height: 25px;
    }
    .nav-list-resp {
      opacity: 0; */
      /* transition: all 0.3s ease-out; */
    /* } */
    /* .footer-container {
      height: 1250px;
    }
    .logos {
      display: none;
    }
  } */